In [13]:
df = pd.read_csv('master.csv')

In [15]:
df

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [16]:
df.shape

(27820, 12)

In [39]:
df_gender.loc[df_gender['country'] == 'Albania', df_gender[['sex']]]

ValueError: Cannot index with multidimensional key

In [30]:
df_gender.head(n=24)

       sex          age  year  suicides_no  country
0     male  15-24 years  1987           21  Albania
1     male  35-54 years  1987           16  Albania
2   female  15-24 years  1987           14  Albania
3     male    75+ years  1987            1  Albania
4     male  25-34 years  1987            9  Albania
5   female    75+ years  1987            1  Albania
6   female  35-54 years  1987            6  Albania
7   female  25-34 years  1987            4  Albania
8     male  55-74 years  1987            1  Albania
9   female   5-14 years  1987            0  Albania
10  female  55-74 years  1987            0  Albania
11    male   5-14 years  1987            0  Albania
12  female    75+ years  1988            2  Albania
13    male  15-24 years  1988           17  Albania
14    male    75+ years  1988            1  Albania
15    male  35-54 years  1988           14  Albania
16    male  55-74 years  1988            4  Albania
17  female  15-24 years  1988            8  Albania
18  female  55-74 years  1988            3  Albania
19  female  25-34 years  1988            5  Albania
20    male  25-34 years  1988            5  Albania
21  female  35-54 years  1988            4  Albania
22  female   5-14 years  1988            0  Albania
23    male   5-14 years  1988            0  Albania